<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
	\integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!-- 
    Bootstrap CSS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	
	
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
   		\integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   		
 -->   		
    <title th:text="${title}">Base - Smart Contact Manager</title>
</head>
<body>
	<!-- THIS IS NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary ps-3" style="background: #008080 !important;">
	    <a class="navbar-brand " href="#">Smart Contact Manager</a>
	    
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav text-uppercase forpositionforgeneralmenu">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
	        </li>
	        
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/about/}">About</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/signin/}"  tabindex="-1" aria-disabled="true">Login</a>
	        </li>
	        
	         <li class="nav-item">
	          <a class="nav-link" th:href="@{/signup/}" tabindex="-1" aria-disabled="true">Sign Up</a>
	        </li>
	        
	      </ul>	     
	    </div>
	</nav>
	<!-- END OF NAVBAR -->
	
	<div th:replace="${content}">
    </div>

	<script th:src="@{/js/script.js}">	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 	
  </body>
</html>