<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Login - Smart Contact Manager</title>
</head>
<body>
	<section>
		 <div id="login">
		        <div class="container">
		            <div id="login-row" class="row justify-content-center align-items-center">
		                <div id="login-column" class="col-md-6">
		                    <div id="login-box" class="col-md-12" style="height:220px;">
		                       		                      
		              				<!--MESSAGE BOX-->       
									 <div th:if="${session.message}" class="container mt-1">
									 	<div class="alert text-center alert-danger" role="alert">
										  <span th:text=${session.message}></span>
										</div>
										<th:block th:text="${#session.removeAttribute('message')}"></th:block>
									 </div>
									<!--End content of user-->       
		                 
		                    <h3 class="text-center m-3">Your Registered Email</h3>
		                       <form th:action="@{/send-otp}" method="post">
		                       	<div class="form-group">
		                       		<input required type="email" name="email" placeholder="Enter Email here" class="form-control" >		                       		                  	
		                       	</div>		                       
		                       	<div class="container text-center">
		                       		<button class="btn btn-warning btn-md"> Send OTP </button>
		                       	</div>
		                       </form>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	</section>	
</body>
</html>